/* Default visual styles for EditableLabel edit mode */
.editable-label-edit-default {
  border: 1px solid var(--canvas-label-editing-border);
  background: var(--canvas-label-editing-fill);
  color: var(--canvas-label-editing-text);
  padding: 2px 4px;
  border-radius: 2px;
}

/* Default visual styles for EditableLabel display mode */
.editable-label-display-default {
  background: var(--canvas-label-display-fill);
  color: var(--canvas-label-display-text);
  border: 1px solid var(--canvas-label-display-border);
  padding: 2px 4px;
  border-radius: 2px;
  word-wrap: break-word;
  align-items: center;
  justify-content: center;
}
