.shape-dropdown {
  background: var(--bg);
  border: none;
  border-radius: 2px;
  padding: 2px 4px;
  cursor: pointer;
  color: var(--canvas-label-editing-text);
}

.shape-dropdown:hover {
  border-color: var(--canvas-label-editing-border-hover);
}

.shape-dropdown:focus {
  border-color: var(--canvas-label-editing-border-focus);
}
