.class-item-editor {
  user-select: none;
}

.class-item-editor:hover .class-item-delete {
  opacity: 1;
}

.class-item-input {
  font-family: inherit;
  color: var(--canvas-label-editing-text);
}

.class-item-input:focus {
  border-color: var(--canvas-label-editing-border-focus) !important;
}

.class-item-text {
  color: var(--canvas-label-editing-text);
}

.class-item-delete {
  opacity: 0;
  transition: opacity 0.2s;
  color: var(--canvas-label-editing-text);
}

.class-item-delete:hover {
  background: var(--canvas-label-editing-border-hover) !important;
  border-color: var(--canvas-label-editing-border-focus) !important;
}
